.benefits {
  padding-top: 167px;
  padding-bottom: 73px;

  &__subtitle {
    text-align: left;
  }

  &__title {
    max-width: 450px;
    margin: 0px 0px 60px 0px;
    text-align: left;
    &::after {
      content: "";
      position: absolute;
      width: 183px;
      height: 7px;
      background-color: var(--blue);
      left: 0;
      bottom: 0;
    }
  }
}

.benifits {
  &__body {
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    left: 26px;
  }

  &__row {
    display: flex;
    margin: 0 -15.5px;
  }

  &__column {
    padding: 0 15.5px;
    display: flex;
    flex: 0 1 33.333%;
  }

  &__item {
    display: flex;
    align-items: flex-start;
  }

  &__item-img {
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.07);
    img {
      max-width: 100%;
    }
  }

  &__item-descr {
    max-width: 265px;
    padding-top: 17px;
  }

  &__item-title {
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    font-size: 32px;
    color: var(--black);
  }

  &__item-text {
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
  }
}
