html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul li {
  list-style: none;
}

button:focus,
input:focus {
  outline: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  @include no-btn;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  padding-bottom: 18px;
  font-weight: 500;
  font-size: 52px;
  color: var(--black);
  &::after {
    content: "";
    position: absolute;
    width: 154px;
    height: 6px;
    background-color: var(--blue);
    left: 0;
    bottom: 0;
  }
  &--small {
    font-size: 38px;
    line-height: 48px;
  }
}

.subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  color: var(--black);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
}

.burger::after {
  top: auto;
  bottom: 0;
}

.burger span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: var(--black);
}
