<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo logo">
        <img src="img/logo.svg" alt="logo">
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Showroom</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Product</a></li>
        </ul>
        <a href="#" class="header__contact">Contact</a>
      </nav>
      <button class="burger" aria-label="Открыть меню">
        <span></span>
      </button>
    </div>
    <div class="header__content">
      <h1 class="header__title">Good Living Better LIVE</h1>
      <p class="header__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam aliquam diam dictum mattis.
      </p>
      <form action="#" class="header-form">
        <input type="text" class="header-form__input" placeholder="Enter product name">
        <button type="submit" class="header-form__btn">Search</button>
      </form>
    </div>
  </div>
</header>