<section class="benefits">
  <div class='container'>
    <p class="benefits__subtitle subtitle">Simple & Modern</p>
    <h2 class="benefits__title title title--small">Benefits You Get When Using Our Services</h2>
  </div>
  <div class="benifits__body">
    <div class="benifits__row">
      <div class="benifits__column">
        <div class="benifits__item">
          <div class="benifits__item-img">
            <img src="img/benefits-img1.svg" alt="Best Quality">
          </div>
          <div class="benifits__item-descr">
            <h4 class="benifits__item-title">Best Quality</h4>
            <p class="benifits__item-text">
              All of our funiture uses the best materials and choices for our customers.
            </p>
          </div>
        </div>
      </div>
      <div class="benifits__column">
        <div class="benifits__item">
          <div class="benifits__item-img">
            <img src="img/benefits-img2.svg" alt="Free Shipping">
          </div>
          <div class="benifits__item-descr">
            <h4 class="benifits__item-title">Free Shipping</h4>
            <p class="benifits__item-text">
              All of our funiture uses the best materials and choices for our customers.
            </p>
          </div>
        </div>
      </div>
      <div class="benifits__column">
        <div class="benifits__item">
          <div class="benifits__item-img">
            <img src="img/benefits-img3.svg" alt="Warranty">
          </div>
          <div class="benifits__item-descr">
            <h4 class="benifits__item-title">Warranty</h4>
            <p class="benifits__item-text">
              All of our funiture uses the best materials and choices for our customers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>