<section class="fave">
  <div class='container'>
    <h2 class="fave__title fave__title--line title">Our Fave Kits</h2>
    <div class="fave__items">
      <a href="#" class="fave-item" style="background-image: url(./img/fave-1.jpg);">
        <div class="fave-item__top">
          <p class="fave-item__info">Sale</p>
        </div>
        <!-- <img class="fave-item__img" src="img/fave-1.jpg" alt="White Swan Chair"> -->
        <div class="fave-item__footer">
          <h4 class="fave-item__title">White Swan Chair</h4>
          <div class="fave-item__price">$69.99</div>
        </div>
      </a>
      <a href="#" class="fave-item" style="background-image: url(img/fave-2.jpg);">
        <div class="fave-item__top dn">
          <p class="fave-item__info">Sale</p>
        </div>
        <!-- <img class="fave-item__img" src="img/fave-2.jpg" alt="Urban sofa set"> -->
        <div class="fave-item__footer">
          <h4 class="fave-item__title">Urban sofa set</h4>
          <div class="fave-item__price">$569</div>
        </div>
      </a>
      <a href="#" class="fave-item" style="background-image: url(img/fave-3.jpg);">
        <div class="fave-item__top">
          <p class="fave-item__info">Sale</p>
        </div>
        <!-- <img class="fave-item__img" src="img/fave-3.jpg" alt="Big  Mono • Kitchen set"> -->
        <div class="fave-item__footer">
          <h4 class="fave-item__title">Big Mono • Kitchen set</h4>
          <div class="fave-item__price">$569</div>
        </div>
      </a>
    </div>
  </div>
</section>