<section class="furniture">
  <div class='container'>
    <div class="furniture__inner">
      <div class="furniture__content">
        <p class="furniture__subtitle subtitle">Simple & Modern</p>
        <h2 class="furniture__title title">Furniture</h2>
        <p class="furniture__descr descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium semper porta dui. Lorem ipsum dolor sit
          amet,consectetur adipiscing elit. Pretium semper porta dui.
        </p>
        <a href="" class="furniture__btn btn">order now</a>
      </div>
      <div class="furniture__image">
        <div class="furniture__image-block">
          <img src="img/furniture-up.png" alt="" class="furniture__image-top">
          <img src="img/furniture-down.png" alt="" class="furniture__image-bottom">
        </div>
      </div>
    </div>
  </div>
</section>