<section class="luxroom">
  <div class='container'>
    <div class="luxroom__wrapper">
      <div class="luxroom-images">
        <p class="luxroom-images__text">30% OFF</p>
        <img src="img/luxroom-img.jpg" alt="" class="luxroom-images__img">
        <div class="luxroom-images__circle">
          <img src="img/luxroom-circle.png" alt="" class="luxroom-images__center">
        </div>
      </div>
      <div class="luxroom-content">
        <p class="luxroom-content__subtitle subtitle">Luxroom Modern</p>
        <h2 class="luxroom-content__title title">We Provide You The Best Experience</h2>
        <p class="luxroom-content__descr descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium semper porta dui. Lorem ipsum dolor sit
          amet,consectetur adipiscing elit. Pretium semper porta dui.
        </p>
        <a href="" class="luxroom-content__btn btn">order now</a>
      </div>
    </div>
  </div>
</section>